@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html, body) {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для браузерів Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}